body {
    background: radial-gradient(circle, #333333, #1b1a1a);
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}


#life {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

.heart-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.heart-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.1s ease-in-out;
}

#progress {
    font-size: 20px;
    color: green;
    font-weight: bold;
    padding: 10px;
}

/* #correctly_typed {
    font-size: 18px;
    color: darkgreen;
    background-color: lightgreen;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
} */

#wrongly_typed_char {
    font-size: 20px;
    color: red;
    font-weight: bold;
    gap: 10px;
    min-width: 100px;
    text-align: right;
}

#actual_word_right {
    font-size: 20px;
    color: rgb(153, 130, 0);
    font-weight: bold;
    gap: 10px;
    min-width: 10%;
}

#to_be_typed {
    font-size: 20px;
    color: gold;
    font-weight: bold;
    background: rgba(255, 255, 0, 0.334);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    gap: 20px;
}

#words {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 20px;
}